body {
    background-color: #8cc4ff;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

#layout {
    display: flex;
    gap: 2%;
    height: 80vh;
}

#OutfitDisplay {
    flex: 1;
    height: 80vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: white;
    border-radius: 15px;
}

#OutfitDisplay button {
    width: 90%;
    height:5vh;
    margin-top: 10px;
    border-radius: 15px;
    
    cursor: pointer;
    background-color: #007bff;
    color: white;
    text-align: center;
    border: none;
}

#clothesDisplay {
    background-color: rgb(234, 234, 234);

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 20px ;
    margin-top: 20px;
    border-radius: 15px;
    width: 90%;
}

#OutfitDisplay img {
    width: 150px;
    height: 150px;
    gap: 10px;
}

#Wardrobe {
    width: 30%;
    height: 80vh;

    overflow-y: auto;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;

    background-color: white;
    border-radius: 15px;
}

#UploadClothes {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.uploadButtons input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: flex;

    padding: 10px 20px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    text-align: center;
    width: 70px;
    font-size: 14px;
}

.custom-file-upload:hover {
    background-color: #0056b3;
}

.clothesPreview {
    text-align: center;
}

